*{
    margin: 0;
}

form {
    width: 40%;
    border: 1px solid black;
    padding: 10px;
}

#output {
    width: 50%;
    border: 1px solid black;
    padding: 20px;
    margin-left: 20px;
    background-color: #f9f9f9;
    position: relative;
    left: 50%;
    top: -400px;
    
}

/* Estilos de los textos */
h3, p {
    margin: 5px 0;
}